<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TinyApp</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Short URL</th>
        <th>Long URL</th>
      </tr>
    </thead>
    <tbody>
      <% for (let url in urls) {%>
        <tr>
          <td><%= url %></td>
          <td><%= urls[url] %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>